<%= render 'shared/navbar' %>
<%= render 'shared/banner' %>
<div class="container">
  <h2>Browse our cocktails</h2>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-6 col-ml-4">
        <%= render 'shared/card', cocktail: cocktail %>
      </div>
    <% end %>
  </div>
</div>
